.nftlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
}
.nftcard {
  margin: 15px;
  box-shadow: none;
  min-width: 300px;
  max-width: 500px;
}

.nftcard .MuiCollapse-vertical{
  max-height: 180px;
  overflow-y: scroll;
}